In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import pickle

In [13]:
import pandas as pd
df = pd.read_csv("online_shoppers_intention.csv")
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [14]:
df.fillna(df.mean(numeric_only=True), inplace=True)
df.fillna(df.mode().iloc[0], inplace=True)
df.drop_duplicates(inplace=True)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [15]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
df['Month'] = df['Month'].astype('category').cat.codes  # or one-hot encode
df['VisitorType'] = LabelEncoder().fit_transform(df['VisitorType'])
df['Weekend'] = df['Weekend'].astype(int)
df['Revenue'] = df['Revenue'].astype(int)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,1,1,1,1,2,0,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2,2,2,1,2,2,0,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,4,1,9,3,2,0,0
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2,3,2,2,4,2,0,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,2,3,3,1,4,2,1,0

In [16]:
num_cols = ['Administrative_Duration', 'Informational_Duration', 'ProductRelated_Duration']
for col in num_cols:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    IQR = q3 - q1
    lower = q1 - 1.5 * IQR
    upper = q3 + 1.5 * IQR
    df[col] = np.clip(df[col], lower, upper)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,1,1,1,1,2,0,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2,2,2,1,2,2,0,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,4,1,9,3,2,0,0
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2,3,2,2,4,2,0,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,2,3,3,1,4,2,1,0

In [17]:
df.drop(['OperatingSystems', 'Browser', 'Region', 'TrafficType'], axis=1, inplace=True)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,2,0,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2,2,0,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,2,0,0
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2,2,0,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,2,2,1,0

In [18]:
df['TotalPages'] = df['Administrative'] + df['Informational'] + df['ProductRelated']
df['TotalDuration'] = df['Administrative_Duration'] + df['Informational_Duration'] + df['ProductRelated_Duration']
df['PagesPerSecond'] = df['TotalPages'] / (df['TotalDuration'] + 1)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,VisitorType,Weekend,Revenue,TotalPages,TotalDuration,PagesPerSecond
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,2,0,0,1,0.000000,1.000000
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2,2,0,0,2,64.000000,0.030769
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,2,0,0,1,0.000000,1.000000
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2,2,0,0,2,2.666667,0.545455
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,2,2,1,0,10,627.500000,0.015911

In [19]:
df['EngagementScore'] = (1 - df['BounceRates']) * df['TotalDuration']
df['PageValuePerPage'] = df['PageValues'] / (df['TotalPages'] + 1)
df['ProductFocus'] = df['ProductRelated'] / (df['TotalPages'] + 1)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,VisitorType,Weekend,Revenue,TotalPages,TotalDuration,PagesPerSecond,EngagementScore,PageValuePerPage,ProductFocus
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,2,0,0,1,0.000000,1.000000,0.000000,0.0,0.500000
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,2,2,0,0,2,64.000000,0.030769,64.000000,0.0,0.666667
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,2,2,0,0,1,0.000000,1.000000,0.000000,0.0,0.500000
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,2,2,0,0,2,2.666667,0.545455,2.533333,0.0,0.666667
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,2,2,1,0,10,627.500000,0.015911,614.950000,0.0,0.909091

In [20]:
df['HighBounce'] = (df['BounceRates'] > 0.05).astype(int)
df['HighExit'] = (df['ExitRates'] > 0.05).astype(int)
df['ActiveBuyer'] = (df['ProductRelated_Duration'] > 300).astype(int)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,Revenue,TotalPages,TotalDuration,PagesPerSecond,EngagementScore,PageValuePerPage,ProductFocus,HighBounce,HighExit,ActiveBuyer
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,1,0.000000,1.000000,0.000000,0.0,0.500000,1,1,0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,...,0,2,64.000000,0.030769,64.000000,0.0,0.666667,0,1,0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0,1,0.000000,1.000000,0.000000,0.0,0.500000,1,1,0
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,...,0,2,2.666667,0.545455,2.533333,0.0,0.666667,0,1,0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,...,0,10,627.500000,0.015911,614.950000,0.0,0.909091,0,0,1

In [22]:
month_map = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'June':6,
             'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}
df['Month_encoded'] = df['Month'].map(month_map)

def get_season(month_num):
    if month_num in [11, 12, 1]: return 'Holiday'
    elif month_num in [2, 3, 4]: return 'Spring'
    elif month_num in [5, 6, 7]: return 'Summer'
    else: return 'Fall'

df['Season'] = df['Month_encoded'].apply(get_season)
df = pd.get_dummies(df, columns=['Season'], drop_first=True)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,TotalDuration,PagesPerSecond,EngagementScore,PageValuePerPage,ProductFocus,HighBounce,HighExit,ActiveBuyer,ReturningVisitorFlag,Month_encoded
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0.000000,1.000000,0.000000,0.0,0.500000,1,1,0,0,NaN
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,...,64.000000,0.030769,64.000000,0.0,0.666667,0,1,0,0,NaN
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0.000000,1.000000,0.000000,0.0,0.500000,1,1,0,0,NaN
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,...,2.666667,0.545455,2.533333,0.0,0.666667,0,1,0,0,NaN
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,...,627.500000,0.015911,614.950000,0.0,0.909091,0,0,1,0,NaN

In [23]:
df['ReturningVisitorFlag'] = (df['VisitorType'] == 'Returning_Visitor').astype(int)
df['Weekend'] = df['Weekend'].astype(int)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,TotalDuration,PagesPerSecond,EngagementScore,PageValuePerPage,ProductFocus,HighBounce,HighExit,ActiveBuyer,ReturningVisitorFlag,Month_encoded
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0.000000,1.000000,0.000000,0.0,0.500000,1,1,0,0,NaN
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,...,64.000000,0.030769,64.000000,0.0,0.666667,0,1,0,0,NaN
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0.000000,1.000000,0.000000,0.0,0.500000,1,1,0,0,NaN
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,...,2.666667,0.545455,2.533333,0.0,0.666667,0,1,0,0,NaN
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,...,627.500000,0.015911,614.950000,0.0,0.909091,0,0,1,0,NaN

In [25]:
df['ProductEngagement'] = df['ProductRelated_Duration'] * df['PageValues']
df['InfoEfficiency'] = df['Informational_Duration'] / (df['Informational'] + 1)
df['AdminEfficiency'] = df['Administrative_Duration'] / (df['Administrative'] + 1)
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,PageValuePerPage,ProductFocus,HighBounce,HighExit,ActiveBuyer,ReturningVisitorFlag,Month_encoded,ProductEngagement,InfoEfficiency,AdminEfficiency
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0.0,0.500000,1,1,0,0,NaN,0.0,0.0,0.0
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,...,0.0,0.666667,0,1,0,0,NaN,0.0,0.0,0.0
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,...,0.0,0.500000,1,1,0,0,NaN,0.0,0.0,0.0
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,...,0.0,0.666667,0,1,0,0,NaN,0.0,0.0,0.0
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,...,0.0,0.909091,0,0,1,0,NaN,0.0,0.0,0.0

In [29]:
# 13 Clean before scaling
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.fillna(df.mean(numeric_only=True), inplace=True)

# 14 Remove zero-variance numeric columns
num_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
if 'Revenue' in num_cols:
    num_cols.remove('Revenue')
zero_var_cols = [col for col in num_cols if df[col].nunique() <= 1]
df.drop(columns=zero_var_cols, inplace=True, errors='ignore')
num_cols = [col for col in num_cols if col not in zero_var_cols]

# 15 Standardize numeric columns
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

print(" Data Preprocessing Completed Successfully!")
df.head()

 Data Preprocessing Completed Successfully!

,Administrative,Administrative_Duration,Informational,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,...,TotalDuration,PagesPerSecond,EngagementScore,PageValuePerPage,ProductFocus,HighBounce,HighExit,ActiveBuyer,ProductEngagement,AdminEfficiency
0,-0.702302,-0.721911,-0.398824,-0.696218,-0.965658,3.969402,3.434394,-0.318962,-0.31024,2,...,-0.991875,2.126585,-0.990218,-0.215854,-2.079949,3.041002,1.878946,-1.420844,-0.279284,-0.692442
1,-0.702302,-0.721911,-0.398824,-0.673793,-0.903939,-0.450137,1.268054,-0.318962,-0.31024,2,...,-0.931945,-0.205888,-0.929896,-0.215854,-1.004502,-0.328839,1.878946,-1.420844,-0.279284,-0.692442
2,-0.702302,-0.721911,-0.398824,-0.696218,-0.965658,3.969402,3.434394,-0.318962,-0.31024,2,...,-0.991875,2.126585,-0.990218,-0.215854,-2.079949,3.041002,1.878946,-1.420844,-0.279284,-0.692442
3,-0.702302,-0.721911,-0.398824,-0.673793,-0.963087,0.654748,2.134590,-0.318962,-0.31024,2,...,-0.989378,1.032712,-0.987831,-0.215854,-1.004502,-0.328839,1.878946,-1.420844,-0.279284,-0.692442
4,-0.702302,-0.721911,-0.398824,-0.494387,-0.360514,-0.008183,0.184884,-0.318962,-0.31024,2,...,-0.404278,-0.241645,-0.410608,-0.215854,0.559784,-0.328839,-0.532213,0.703807,-0.279284,-0.692442